.footer-nav {
  box-sizing: border-box;
  width: 100%;
  /*padding: 10px auto none auto;*/
  background-color: rgb(135, 131, 195);
}

.bnav-container {
  margin: 0 20%;
}

ul {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  list-style-type: none;
}

a {
  font-family: Verdana, Arial;
  font-size: 15px;
  padding: 10px 4px;
  text-decoration: none;
  color: #fff;
}

hr {
  height: 30px;
  margin: none;
  background-color: rgb(83,79,137)
}

.text {
	height: 100%;
	width:	50%;
	margin: 0 auto;
	text-align: center;
}

.middle {
  background-color: #CCCCDD;
  margin: none;
  box-sizing: border-box;
}

section {
  text-align: center;
}

.lyrics {
  text-align: center;
}

.play-music {
  text-align: center;
}

.search-box {
  text-align: left;
  width: 100%;
}

.facebook {
  text-align: left;
}