
.footer-nav {
  box-sizing: border-box;
  width: 100%;
  /*padding: 10px auto none auto;*/
  background-color: rgb(135, 131, 195);
}

.bnav-container {
  margin: 0 20%;
}

ul {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  list-style-type: none;
}

a {
  font-family: Verdana, Arial;
  font-size: 15px;
  padding: 10px 4px;
  text-decoration: none;
  color: #fff;
}

hr {
  height: 30px;
  margin: none;
  background-color: rgb(83,79,137)
}

.text {
	height: 100%;
	width:	50%;
	margin: 0 auto;
	text-align: center;
}

input {

	float: right;
	height: 29px;
	width: 150px;
	margin-top: 3px;
}
button {

	float: right;
	height: 35px;
	width: 80px;
	margin-right: 30px;
	margin-top: 3px;
	background-color: rgb(81,85,133);
	color: white;
	font-weight: bold;
	font-size: 15px;
}

.box1 {

	display: block;
	height: 45px;
	width: 100%;
	background-color: rgb(133,137,191);
}

p {

	font-weight: bold;
	/*float: left;*/
	font: 16px;
	color: white;
}

.letter {
	margin-left: 12px;
}

img {

	float: left;
	margin-left: 3px;
	margin-top: 2px;
}

#box2{

	height: 120px;
	width: 100%;
	background-color: rgb(81,85,133);
	margin: auto;
}

#ad {

margin-left: 150px;
margin-top: 11px;
}

#box3{

	height: 1000px;
	width: 150px;
}
